#board-background {
    /* min-height: 100vh;                                  full screen height */

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
}

.mode-container {
    width: 80vmin;  
    display: flex;
    justify-content: flex-end;
}

.mode-btn {
    border: 2px solid blue;
    padding: 6px;
    cursor: pointer;
}

.mode-on {
    background-color: rgb(7, 7, 153);
}

.mistake-container {
    margin-top: 20px;
    width: 80vmin;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
}

.icon-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.icon-button {
    cursor: pointer;
}

.icon-button:hover {
    color: white;
}